.footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  background-color: var(--background-secondary);
  padding: var(--space-xl) var(--space-lg);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.navLink {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--type-body-font-size);
  line-height: var(--type-body-line-height);
  letter-spacing: var(--type-body-letter-spacing);
  color: var(--text-primary);
  text-decoration: none;
}

.navLink:hover {
  color: var(--text-secondary);
}

.copyright {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--type-body-sm-font-size);
  line-height: var(--type-body-sm-line-height);
  letter-spacing: var(--type-body-sm-letter-spacing);
  color: var(--text-primary);
  text-align: center;
  width: 100%;
}
